<br>
<div class="container">
 
        <h3>Edit Product Record</h3>
        
            <div class="form-group">
                <label for="product">Product</label>
                <input type="text" class="form-control" id="product" [(ngModel)]="data.product" placeholder="Enter Product">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" [(ngModel)]="data.description" placeholder="Enter Description">
            </div>
            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" class="form-control" id="quantity" [(ngModel)]="data.quantity" placeholder="Enter Quantity">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" class="form-control" id="price" [(ngModel)]="data.price" placeholder="Enter Price">
            </div>
            <button type="submit" class="btn btn-success" (click)="update()">Update</button>
            <button type="submit" class="btn btn-warning ml-1" [routerLink]="[ '/list']">Cancel</button>
    </div>    